{% extends 'MentalMathWebsite/layout.html' %}


{% block title %}
Mental Math
{% endblock %}


{% block moreScripts %}
<script>
    const operators = ["+", "*", "/", "-"]
    
    let findGameSocket =null;
    let gameSocket = null;
    function findMatch() {
        console.log("finding a match...")
        //first we disconnect any previous sockets
        if(findGameSocket !== null){
            findGameSocket.close()
        }
        if(gameSocket !== null){
            gameSocket.close()
        }


        const ws = (window.location.protocol === 'https:') ? 'wss://' : 'ws://'
        const endpoint = ws + window.location.host + window.location.pathname + "findGame"

        findGameSocket = new WebSocket(endpoint);
        findGameSocket.onopen = (event) => {
            findGameSocket.send("{{ user.username }}")
            findGameSocket.onmessage = (event) => {
                console.log("game found at endpoint: ", event)
                //event should be the endpoint for the match
                event = event.data
                gameSocket = new WebSocket(ws + window.location.host + event);
                gameSocket.onopen = (event) =>{
                    let formData = document.getElementById('match-form');
                    formData.addEventListener('submit', (event) => {
                        const numToSubmit = event.path[0][0].value
                        gameSocket.send(numToSubmit + " " + "{{ user.username }}")
                    });
                    let gameCount = 0;
                    gameSocket.onmessage = (event) => {
                        event = event.data
                        const postedString = "numbers posted:"
                        if(event.length >= postedString.length && event.substr(0, postedString.length) === postedString){
                            console.log(event)
                            let startIndex = postedString.length + 1;
                            let endIndex = startIndex;
                            while(endIndex + 1 < event.length && event[endIndex + 1] != ' '){
                                endIndex++;
                            }
                            const num1 = event.substr(startIndex, endIndex-startIndex+1);
                            console.log(startIndex, endIndex, num1)
                            startIndex = endIndex + 2;
                            const operator = event[startIndex];
                            startIndex = startIndex + 2;
                            endIndex = startIndex;
                            while(endIndex + 1 < event.length && event[endIndex + 1] != ' '){
                                endIndex++;
                            }
                            const num2 = event.substr(startIndex, endIndex-startIndex+1);


                            startIndex = startIndex + 2;
                            endIndex = startIndex;
                            while(endIndex + 1 < event.length && event[endIndex + 1] != ' '){
                                endIndex++;
                            }
                            const diff = parseInt(event.substr(startIndex, endIndex-startIndex+1));

                            console.log("the numbers and ops posted were: ", num1, num2, operator);
                            document.getElementById('question-header').innerText = num1 + " " + operator + " " + num2;
                            document.getElementById('match-form').style.visibility = "visible";
                            gameCount++;
                            const prevGameCount = gameCount;
                            setTimeout(() => {
                                if(prevGameCount === gameCount) {
                                    console.log("you lost")
                                    gameSocket.send("start_new_game" + " " + "{{user.username}}")
                                }
                            }, diff*1000)
                        }else if(event === "{{user.username}} won" || event === "You won" ){
                            console.log("I won")
                            document.getElementById("count").innerText = (parseInt(document.getElementById("count").innerText) + 1)
                            gameSocket.send("start_new_game" + " " + "{{user.username}}")
                        }else{
                            console.log("I lost")
                            gameSocket.send("start_new_game" + " " + "{{user.username}}")
                        }
                    }
                }
                
            }
        }
        
    }

</script>
{% endblock %}


{% block content %}
    <div id="count">
        0
    </div>

    <div class="bg-dark d-flex flex-column flex-grow-1" style="height: 100%;">
        <div class="container text-center my-5" style="height: 100px;">
            <div id="match" style="display:inline-block;">
                <form id="match-form" style="visibility: hidden;" src='' method="dialog">
                    <div class="form-group">
                        <h1 id="question-header" style="color: white;"></h1>
                    </div>
                    
                    <div class="form-group">
                        <input class="form-control" type="number" name="userNum" placeholder="1234">
                    </div>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-info">Submit</button>
                </form>
            
            </div>
        </div>

        <div class="container text-center my-auto ">
            <div class="find-match-button">
                <button type="button" class="btn btn-info btn-lg" onclick="findMatch()">Find Match</button>
            </div>
        </div>
    </div>
    

    

{% endblock %}