{% extends 'MentalMathWebsite/layout.html' %}


{% block title %}
Mental Math
{% endblock %}


{% block moreScripts %}
<script>
    const operators = ["+", "*", "/", "-"]

    let ws = (window.location.protocol === 'https:') ? 'wss://' : 'ws://'
    let wsStart = ws + window.location.host + window.location.pathname
    let socket = new WebSocket(wsStart);
    socket.onmessage = (event) => {
        console.log("message: ", event)
    }
    socket.onopen = (event) => {
        console.log("message: ", event)
    }
    socket.onerror = (event) => {
        console.log("message: ", event)
    } 
    socket.onclose = (event) => {
        console.log("message: ", event)
    }

    function findMatch() {
        console.log("finding a match...")
        //first we clear the match div

        const num1 = Math.floor(Math.random()*100);
        const op = operators[Math.floor(Math.random()*operators.length)];
        const num2 = Math.floor(Math.random()*100);
        console.log(document.getElementById('question-header'))
        document.getElementById('question-header').innerText = num1.toString() + " " + op + " " + num2.toString();
        document.getElementById('match-form').style.visibility = "visible";
    }

</script>
{% endblock %}


{% block content %}

    <div class="bg-dark d-flex flex-column flex-grow-1" style="height: 100%;">
        <div class="container text-center my-5" style="height: 100px;">
            <div id="match" style="display:inline-block;">
                <form id="match-form" style="visibility: hidden;" action="#" method="post">
                    <div class="form-group">
                        <h1 id="question-header" style="color: white;"></h1>
                    </div>
                    
                    <div class="form-group">
                        <input class="form-control" type="number" name="userNum" placeholder="1234">
                    </div>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-info">Submit</button>
                </form>
            
            </div>
        </div>

        <div class="container text-center my-auto ">
            <div class="find-match-button">
                <button type="button" class="btn btn-info btn-lg" onclick="findMatch()">Find Match</button>
            </div>
        </div>
    </div>
    

    

{% endblock %}