{% extends 'MentalMathWebsite/layout.html' %}
{% block title %}
Register
{% endblock %}

{% block content %}

<div class="bg-dark d-flex flex-column" style="height: 100%;">
    <div class="bg-dark d-flex flex-column" style="height: 80%;">
        <div class="mx-auto my-auto createAccountContainer">
            <form action="{% url 'register' %}" method="post">
                <div class="form-group">
                    <label for="email" style="color: white;">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <label for="username" style="color: white;">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="form-group">
                    <label for="password" style="color: white;">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="form-group">
                    <input type="image" class="form-control" id="profilePicture" name="profilePicture">
                </div>
                {% csrf_token %}
                <button type="submit" class="btn btn-info">Submit</button>
            </form>
        
            {% if message != "" %} 

            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>

            {% endif %}
        </div>
    </div>
</div>


{% endblock %}